.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo {
    margin: auto;
}

.search-bar {
    width: 36em;
    height: 45px;
    margin-top: 20px;
    border-radius: 100px;
    border: solid 1px rgba(211, 211, 211, 0.747);
    background-color: transparent;
    resize: none;
    outline: none; 
    font-size: 17px;
    box-sizing: border-box;
    padding: 5px 7% 5px 7%;
}